@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif; /* Or your chosen font later */
  /* Default background and text for the entire page if needed */
  /* Example: bg-selenza-black text-selenza-white */
}

/* Global link styling */
a {
  /* @apply text-selenza-bright-red hover:text-selenza-pure-red transition-colors duration-150; */
  color: #eb001b;
  hover: #d20000;
  /* You can choose other colors from your palette:
     e.g., text-selenza-medium-gray hover:text-selenza-white
     e.g., text-selenza-white hover:text-selenza-medium-gray (if on dark backgrounds)
  */
}

/* If you want to be more specific for visited links, though often covered by the general 'a' hover state */
/*
a:visited {
  @apply text-selenza-dark-red; // Or another color from your palette
}
*/
